.about {
  margin: 4rem 2rem 6rem;
}

.about__content {
  display: flex;

  align-items: center;
}

.about__image {
  min-width: 250px;
  margin-right: 3rem;

  border-radius: 65% 35% 71% 29% / 29% 62% 38% 71%;
}

.about__text p {
  font-size: 1.8rem;
}
