.gallery {
  margin: 4rem 2rem 6rem;
}

.gallery__title {
  margin: 0 0 3rem;
}

.gallery__list {
  display: block;
  padding: 0;
  margin: 0;

  list-style: none;
}

.gallery__img {
  width: 100%;
  min-width: 100%;

  clip-path: polygon(3% 13%, 97% 3%, 87% 98%, 14% 95%);
}

.gallery__caption {
  font-size: 2rem;
}

.gallery__caption a {
  color: #344A65;
  font-size: 2rem;
}

.gallery__img img {
  width: 100%;
}

.gallery__img:nth-child(2n) {
  clip-path: polygon(8% 3%, 98% 2%, 91% 95%, 2% 98%);
}

.gallery__img:nth-child(3n) {
  clip-path: polygon(15% 3%, 89% 11%, 91% 89%, 3% 96%);
}

.gallery__img:nth-child(4n) {
  clip-path: polygon(4% 4%, 82% 10%, 96% 86%, 9% 97%);
}

@media screen and (min-width: 940px){
  .gallery__list {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .gallery__img {
    width: 49.8%;
    min-width: 49.8%;
  }
}

