.rights {
  padding: 1.8rem 3rem;

  background-color: #212121;
  color: #e4f0fb;
}

.rights__text {
  display: flex;
  margin: .5rem 0;

  align-items: center;

  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rights svg {
  display: inline-block;
  margin: 0 5px;
}

.rights a {
  display: inline-block;
  margin-left: 5px;
  color: #ffffff;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (min-width: 940px) {
  .rights {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .rights__text {
    margin: 0;
  }
}
