.solcraft {
  padding: 6rem 2rem 4rem;

  background-color: #344A65;
  color: #ffffff;
}

.solcraft h2 {
  margin-bottom: 3.5rem;
}

.solcraft p {
  font-size: 1.8rem;
}

.solcraft a {
  color: #e4f0fb;
}

.solcraft__columns {
  margin: 2rem 0;
}

.solcraft__columns > img {
  display: block;

  margin: 3rem auto;
  min-width: 260px;

  border-radius: 65% 35% 71% 29% / 29% 62% 38% 71%;
}

.solcraft__columns > p {
  font-size: 1.6rem;
}


@media screen and (min-width: 940px) {
  .solcraft__columns {
    display: flex;
    align-items: center;
  }

  .solcraft__columns > img {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
